$paleBlue:#272e53;
$darkBlue: #1d2655;
$darkestBlue: #111630;
$lightGray: #d3d3d3;
$gray: #c2c2c2;
$darkGray: #404040;
$black: #000000;
$raleway: sans-serif, raleway;
$georgia: Georgia, serif;
$inlineB: inline-block;